@page "/"

<NavBar />
<div class="main-slide">
    <div class="content d-flex">
        <div class="l-column d-flex flex-column">
            <h2>Открой для себя</h2>
            <h1>Ягодное</h1>
            <h2>Вчера, сегодня, завтра</h2>
            <button class="btn">Подробнее</button>
        </div>
        <div class="r-column d-flex flex-column">
            <div class="information d-flex flex-row">
                <div class="l-column d-flex flex-column">
                    <p class="number" id="year-foundation">1741</p>
                    <p class="number" id="people-count">7410</p>
                </div>
                <div class="r-column d-flex flex-column">
                    <p class="number-description" id="year-foundation-text">Год основания</p>
                    <p class="number-description" id="people-count-text">Население, человек</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
